nav ul{
    display: flex;
    justify-content: end;
    list-style-type: none;
}

li {
    padding: 8px;
    font-size: 24px;
}

.header-background {
    height: 200px;
    width: 100%
    background-image: url(https://unsplash.com/photos/2KXEb_8G5vo);
    background-size: cover;
    background-position: center;
}